section {
  margin-top: 10px;
}

.card-header {
  &__padd {
    padding: 0.5rem 0.5rem;
  }

  &__font {
    font-family: "Roboto-Light" !important;
    letter-spacing: 0.5px;
    font-size: 13px;
  }
  &__color {
    color: black;
  }
  &__border-bm {
    border-bottom-width: 2px;
  }
}
.card-body {
  &__height {
    height: 110px;
  }
}
.form-check-input {
  margin-right: 8px;
  margin-top: 8px;
}
.form-check-label {
  color: black;
  font-family: "Roboto-Light" !important;
  font-size: 12px;
}
.list-group-item {
  padding: 0.6rem 1.25rem 0.4rem 1.25rem;
}
.list-group-item {
  &__no-padd {
    padding: unset !important;
  }
  &__cursor {
    cursor: pointer;
  }
}
.show-more {
  color: black;
  font-family: "Roboto-Meduim" !important;
  font-size: 12px;
  text-align: center;
}
