<section>

  <div class="card card__width">
    <div class="card-header  card-header__padd  card-header__font card-header__color card-header__border-bm"
      [@inOutAnimation]>
      Price
    </div>
    <div class="card-body card-body__height" [@inOutAnimation]>

      <igx-slider [labels]="priceLabels" [continuous]="true" [type]="type" [showTicks]="true" [secondaryTicks]="2"
        [secondaryTickLabels]="false" [tickLabelsOrientation]="labelsOrientation" #slider [(ngModel)]="priceRange"
        (onValueChanged)="change($event)"></igx-slider>
    </div>
  </div>
  <div class="card card__width">
    <div class="card-header card-header__padd  card-header__font card-header__color card-header__border-bm"
      [@inOutAnimation]>
      City Name
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" *ngFor="let city of cities;let i=index;" [@inOutAnimation]>
        <div class=" form-check">
          <input type="checkbox" class="form-check-input" [value]="city" (change)="cityCheck($event,i)">
          <label class="form-check-label" for="exampleCheck1">{{ city.name }}({{city.count}})</label>
        </div>
      </li>
      <ng-container *ngIf="cities">
        <li [hidden]="citiesCount == cities.length"
          class="list-group-item list-group-item__no-padd list-group-item__cursor" (click)="loadCities()">
          <div class="show-more">Show More >></div>
        </li>
      </ng-container>
    </ul>
  </div>
  <div class="card card__width">
    <div class="card-header card-header__padd  card-header__font card-header__color card-header__border-bm "
      [@inOutAnimation]>
      Hotel Name
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" *ngFor="let hotel of hotels;let i=index;" [@inOutAnimation]>
        <div class=" form-check">
          <input type="checkbox" class="form-check-input" [value]="hotel" (change)="hotelCheck($event,i)">
          <label class="form-check-label" for="exampleCheck1">{{ hotel.name }}({{hotel.count}})</label>
        </div>
      </li>
      <ng-container *ngIf="hotels">
        <li [hidden]="hotelsCount == hotels.length"
          class="list-group-item list-group-item__no-padd list-group-item__cursor" (click)="loadHotels()">
          <div class="show-more">Show More >></div>
        </li>
      </ng-container>
    </ul>
  </div>
</section>