<div
  class="card card__width card__mr-bm"
  *ngFor="let hotel of hotels; let i = index"
>
  <div
    [@inOutAnimation]
    class="card-header card-header card-header__padd card-header__font card-header__color card-header__border-bm"
  >
    {{ hotel?.name }}
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <span class="city">City: {{ hotel?.city }}</span>
    </li>
    <li class="list-group-item">
      <span class="price">
        Price:
        <span [hidden]="totalNights">{{ hotel?.price }}</span>
        <span [hidden]="!totalNights">{{
          hotel?.price * 1 * totalNights
        }}</span>
        <span>USD</span>
      </span>
    </li>
  </ul>
</div>
