.card {
    &__width {
        width: 100%;
    }
    &__mr-bm{
        margin-bottom: 32px;
    }
}

.card-header {
    &__padd {
        padding: 0.5rem .5rem;
    }
    
    &__font {
        font-family: 'Roboto-Light' !important;
        letter-spacing: 0.5px;
        font-size: 13px;;
        
    }
    &__color {
        color: black;
    }
    &__border-bm{
        border-bottom-width: 2px;;
    }
   
}
.list-group-item {
    padding: 0.6rem 1.25rem .4rem 1.25rem;
}
.city {
    font-family: 'Roboto-Light' !important;
    letter-spacing: 0.5px;
    font-size: 13px;
    color: black;
}
.price {
    font-family: 'Roboto-Light' !important;
    letter-spacing: 0.5px;
    font-size: 13px;
    color: black;
}