.card {
  &__width {
    width: 100%;
  }
  &__margin {
    margin-top: 20px;
  }
}
.card-header {
  &__center {
    text-align: center;
  }
  &__font {
    font-family: "Roboto-Light" !important;
    letter-spacing: 0.5px;
    font-size: 18px;
    font-weight: 500;
  }
}
.btn-color {
  background: #2e86c1;
  color: white;
}
.btn-cale-in {
  border: 1px solid #ced4da;
  border-left: unset;
}
.input-chekin {
  border-right: unset;
}
.btn-cale-out {
  border: 1px solid #ced4da;
  border-left: unset;
}
.input-chekout {
  border-right: unset;
}
.form-control {
  font-family: "Roboto-Light" !important;
}

.form-group {
  width: 35%;
}
.input-group {
  width: 100%;
}
.form-group.hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range,
.custom-day:hover {
  background-color: #2e86c1;
  color: white;
}
.custom-day.faded {
  background-color: #2e86c1;
}
.btn {
  &__display {
    display: inline-block;
  }
}
.search-btn {
  width: 65%;
}
.card-body {
  display: flex;
  justify-content: space-between;
}
.date-picker {
  &__holder {
    width: 70%;
  }
}
.button {
  &__holder {
    width: 20%;
  }
}
.button {
  &__align-right {
    text-align: right;
  }
}
.search-section {
  &__margin-bm {
    margin-bottom: 100px;
  }
}
