
@import '~bootstrap/scss/bootstrap';

@import "~igniteui-angular/lib/core/styles/themes/index";

@include igx-core();
@include igx-theme($default-palette);

.igx-slider__track, .igx-slider--disabled .igx-slider__track {
    background: #2E86C1 !important;
}
.igx-slider__track, .igx-slider--disabled .igx-slider__track {
    background: #2E86C1 !important;
}
.igx-slider__thumb-from .dot::before, .igx-slider__thumb-to .dot::before {
    background: #2E86C1 !important;
}
.igx-slider__track-fill, .igx-slider--disabled .igx-slider__track-fill {
    background: #2E86C1 !important;

}
.igx-slider__thumb-from:focus,
.igx-slider__thumb-to:focus {
    outline: unset;
}

@font-face {
    font-family: Roboto-Regular;
    src: url(./assets/fonts/roboto/Roboto-Regular.ttf) format("opentype");
}
@font-face {
    font-family: lato-Regular;
    src: url(./assets/fonts/lato/Lato-Regular.ttf) format("opentype");
}
@font-face {
    font-family: Roboto-Light;
    src: url(./assets/fonts/roboto/Roboto-Light.ttf) format("opentype");
}
@font-face {
    font-family: Roboto-Meduim;
    src: url(./assets/fonts/roboto/Roboto-Medium.ttf) format("opentype");
}




