<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <app-search (onSearch)="search($event)"></app-search>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <app-filter
          [cities]="citiesChunk"
          [hotels]="hotelsChunk"
          [citiesCount]="cities?.length"
          [hotelsCount]="hotelsName?.length"
          [priceLabels]="priceLabels"
          (onPrice)="price($event)"
          (onCityName)="cityName($event)"
          (onHotelName)="hotelName($event)"
          (loadMoreHotels)="loadMoreHotels()"
          (loadMoreCities)="loadMoreCities()"
        ></app-filter>
      </div>
      <div class="col-lg-8">
        <app-sort
          [totalNights]="totalNights"
          (onSort)="sort($event)"
          [display]="hotelSResChunk?.length"
          [total]="hotelsRes?.length"
        ></app-sort>
        <app-hotel
          [hotels]="hotelSResChunk"
          [totalNights]="totalNights"
        ></app-hotel>
        <ng-container *ngIf="hotelsRes">
          <div [hidden]="hotelsRes.length != 0 " class="no-items">
            No items available
          </div>
          <div
            class="btn-load-more"
            [@inOutAnimation]
            [hidden]="hotelSResChunk.length == hotelsRes.length"
          >

            <button
              type="button"
              class="btn btn__color btn__font btn__sort"
              (click)="loadMoreRes()"
              clickable
            >
              Load More
            </button>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</section>
