app-search {
  width: 100%;
}
app-filter {
  width: 100%;
}
app-sort {
  width: 100%;
}
app-hotel {
  width: 100%;
}
.btn-load-more {
  text-align: center;
}
.btn {
  &__color {
    background: #2e86c1;
    color: white;
  }
  &__font {
    font-family: "Roboto-Light" !important;
    letter-spacing: 0.5px;
    font-size: 12px;
  }
  &__sort {
    line-height: 1;
    padding: 0.5rem 0.9rem 0.3rem 0.9rem;
  }
}
section {
  margin-bottom: 100px;
}
.no-items {
  font-family: "Roboto-Meduim" !important;
  letter-spacing: 0.5px;
  font-size: 16px;
  text-align: center;
  margin-top: 150px;

}