.button-holder {
  justify-content: space-around;
  display: flex;
  &__box {
    border: 1px solid rgba(0, 0, 0, 0.125);
    padding-top: 29px;
    padding-bottom: 20px;
    border-bottom: unset;
    margin-bottom: -1px;
  }
  &__no-border-bm {
    border-bottom: unset;
  }
}
.sort-header {
  &__sotring {
    color: #2e86c1;
  }
  &__font {
    font-family: "Roboto-Light" !important;
    letter-spacing: 0.5px;
    font-size: 13px;
  }
  &__mr {
    margin-right: 20px;
  }
  &__mb {
    margin-bottom: 20px;
  }
}
.sort-header-tx {
  &__display {
    display: inline-block;
  }
  &__font {
    font-family: "Roboto-Light" !important;
    letter-spacing: 0.5px;
    font-size: 13px;
    color: black;
  }
}
.btn {
  &__color {
    background: #2e86c1;
    color: white;
  }
  &__font {
    font-family: "Roboto-Light" !important;
    letter-spacing: 0.5px;
    font-size: 12px;
  }
  &__sort {
    line-height: 1;
    padding: 0.5rem 0.9rem 0.3rem 0.9rem;
  }
}
