<div class="sort-header__mb" [@inOutAnimation]>
  <span class="sort-header__sotring sort-header__font sort-header__mr"
    >Sorting</span
  >
  <div class="sort-header-tx__display sort-header-tx__font">
    Display {{ display }} hotels of {{ total }} hotels.
    <span *ngIf="totalNights">Total Nights:{{ totalNights }} night</span>
  </div>
</div>
<div
  class="button-holder button-holder__box button-holder_no-border-bm"
  [@inOutAnimation]
>
  <button
    type="button"
    class="btn btn__color btn__font btn__sort"
    (click)="sort('high')"
  >
    High Price
  </button>
  <button
    type="button"
    class="btn btn__color btn__font btn__sort"
    (click)="sort('low')"
  >
    Low Price
  </button>
  <button
    type="button"
    class="btn btn__color btn__font btn__sort"
    (click)="sort('az')"
  >
    A-Z Hotel
  </button>
  <button
    type="button"
    class="btn btn__color btn__font btn__sort"
    (click)="sort('za')"
  >
    Z-A Hotel
  </button>
</div>
